* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 24px;
    font-weight: 700;
}

/* Header section */
header {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 30px;
    background-color: #FAF9F5;
}
    
.header__logo { 
    grid-area: 1 / 1 / 2 / 2; 
}

.header__menu { 
    grid-area: 2 / 1 / 3 / 3; 
}

.header__search { 
    grid-area: 1 / 2 / 2 / 3;
    align-self: start; 
    justify-self: end; 
}

.header__menu li { 
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700; 
}

/* Main-page section */
.main-page {
    height: 100vh; 
    position: relative; 
    background-color: #A10550; 
    background: url('../img/main_bg.png') no-repeat center center; 
    background-size: cover; 
}

.main-page__content {
    background-image: url('../img/main_bg_cover.png');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.main-page__content_title {
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
}

.main-page__content_btn {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}


/* MEDIA */
@media screen and (min-width: 1024px) {
    header {
        align-items: end;
        grid-template-columns: min-content 1fr min-content;
        grid-template-rows: 1fr;
    }

    .header__logo { 
        padding-left: 80px;
        grid-area: 1 / 1 / 2 / 2;
        align-self: center;
    }
    
    .header__menu { 
        grid-area: 1 / 2 / 2 / 3; 
    }
    
    .header__search { 
        grid-area: 1 / 3 / 2 / 4;
        align-self: end; 
        padding-right: 80px;
    }

    .header__menu ul { 
        display: flex; 
        justify-content: center;
    }

    .main-page__content_title {
        margin-top: 300px;
    }
}